.container {
    max-width: 1200px;
    margin: 0 auto;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    overflow-x: hidden;
    /* background: hsl(0 0% 2%); */
}

body::before {
    --line: hsla(0, 4%, 26%, 0.25);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px 90vmin) 10vmin / 40vmin 50vmin,
        linear-gradient(var(--line) 1px, transparent 1px 10vmin);
    mask: linear-gradient(-15deg, transparent 50%, white);
    top: 0;
    left: 100px;
    z-index: -1;
}